@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&display=swap");
* {
  text-align: right;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  text-align: right;
}
section {
  padding: 80px 0;
}
.home {
  height: 500px;
  background-image: url("../image/slide-bg-1.jpg");
  background-size: cover;
  padding: 1px;
}

.item-home {
  width: 50%;
  margin-top: 15%;
  margin-right: auto;
}
.item-home h2 {
  font-size: 45px;
  color: aliceblue;
  text-align: right;
}

.item-home p {
  font-size: 25px;
  color: aliceblue;
}
.item-home button {
  margin-left: 78%;
}
.item-about {
  text-align: right;
  margin-top: 25%;
}
.section-title {
  position: relative;
  display: inline-block;
}
.section-title::after {
  display: block;
  content: "";
  position: absolute;
  width: 70%;
  background-color: #ffc527;
  height: 5px;
  bottom: -10px;
}
.item-about p {
  margin: 50px 0;
}
@media (max-width: 768px) {
  .item-home {
    width: 100%;
  }
} /*ده بنستخدمه للشاشات الصغيره علشان الدنيا تظبط*/
.image-new {
  display: inline-block;
}
.news-left,
.footer-left {
  position: relative;
  margin: 25px 0;
}
.p-news {
  position: absolute;
  bottom: -5px;
  right: 80px;
}
.p-footer {
  position: absolute;
  bottom: 30px;
  right: 80px;
  color: #ffc527;
  cursor: pointer;
}
.p-footer2 {
  position: absolute;
  bottom: -5px;
  right: 80px;
  cursor: pointer;
}
.chossen-item {
  position: relative;
  margin: 20px 0;
}
.title-choosen {
  position: absolute;
  right: 300px;
  bottom: 100px;
}
.title-choosen2 {
  position: absolute;
  right: 300px;
  bottom: -30px;
}
.heart {
  width: 50px;
  border-radius: 30%;
}
.heart-home {
  position: relative;
  margin: 20px 0;
}
.title-heart {
  position: absolute;
  bottom: -50px;
  right: 90px;
}
.img-subscribe {
  position: relative;
  z-index: -1;
}
.img-subscribe img {
  width: 1350px;
}
.subscribe-title {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: aliceblue;
}
.subscribe-title h2 {
  text-align: center;
  color: aliceblue;
}
.subscribe-title input {
  width: 250px;
  margin: 0 10px;
  border-radius: 10px;
  margin-left: 50px;
}
.subscribe-title button {
  margin-top: -66px;
}
footer {
  background-color: #071c33;
  color: white;
  height: 100%;
  padding: 20px 0;
}
footer .img-w {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px 0;
}
.dark {
  color: #5d6d7e;
}
footer h5 {
  margin: 16px 0;
}
.list-unstyled li a {
  color: #ffc107;
  /* margin: 20px 0; */
}
.list-unstyled li {
  padding: 5px 0;
}
.footer-img {
  padding: 20px 0;
  cursor: pointer;
}
/***********blog****/

.breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}
.breadcrumb {
  justify-content: flex-end; /*علشان يجي ناحية الشمال*/
}
.blog .jumbotron {
  display: flex;
  border-bottom: 2px solid #ffc107;
}
.pagination {
  margin: 0 400px;
}
.project {
  cursor: pointer;
  margin-right: 20px;
}
.project1 {
  margin-right: 25px;
}
